/* Full Credits Of Css reference and help to https://w3schools.com */
body {
	font-family:Arial,Helvetica;
}

h1 {
	font-family:Brush Script MT,Arial;
	font-size:60px;
}

.Title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#01384f
}

.container {
  position: relative;
  text-align: center;
}

/* Add a background color to the top navigation */
nav {
	background-color: #87CEEB;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 20px;
}
nav a {
	background-color:#87CEEB;
	color:#ffffff;
}
nav a:hover {
	background-color:#54cdff;
	color:#ffffff;
}

nav a:active{
	background-color:#54cdff;
	color:#ffffff;
}

a {
	color:#00b4ff;
}
a:hover {
	color:#87CEEB;
}

a:active{
	color:#87CEEB;
}

footer {
	padding:30px;
}

.code {
	background-color:#e0e0e0;
	padding:5px;
	border-left: solid #87CEEB 5px;
}